/*Play Button source code from
https://codepen.io/jaredringold/pen/zvwWyb */

body {
  background-color: #3f3e66;
}

.play,
.logo,
.tape,
.logo-wrap {
  position: relative;
  display: inline-block;
}

.wrapper {
  position: relative;
  text-align: center;
  margin: auto;
  width: 1000px;
}

.play {
  float: left;
  top: -15%;
  left: 40%;
  display: block;
}

.container {
  background-color: #3f3e66;
  margin-top: 100px;
}

.gif {
  width: 700px;
  height: 500px;
}

.logo {
  width: 270px;
  height: 270px;
  margin: auto;
  z-index: 2;
  display: block;
}

.logo-wrap {
  margin-top: 20%;
  left: 130px;
  flex: 1;
}

.tape {
  flex: 1;
  margin-top: 14%;
}

.video-play-button {
  position: absolute;
  z-index: 10;
  /* transform: translateX(-50%) translateY(-50%); */
  box-sizing: content-box;
  display: inline;
  /* width: 32px;
    height: 44px; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}
.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffe0ac;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}
.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffe0ac;
  border-radius: 50%;
  transition: all 200ms;
}
.video-play-button:hover:after {
  background-color: darken(#ffe0ac, 10%);
}
.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}
.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #3f3e66;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@media only screen and (min-width: 640px) {
  div.flex-container {
    display: flex;
  }
}

@media only screen and (max-width: 640px) {
  div.wrapper {
    width: 100%;
  }

  div.logo-wrap {
    display: block;
    margin-top: 0;
    left: 0;
    z-index: 2;
    transform: scale(0.7);
  }

  div.play {
    position: absolute;
    top: 80%;
  }

  div.tape {
    width: 100%;
    margin-top: -15%;
  }

  img.gif {
    width: 100%;
    height: 100%;
  }
}
